*{
    margin:0;
    padding:0;
      box-sizing:border-box;
    }
    body, html {
    height: 100%;
    width: 100%;
      background-color: yellow;
      padding-top:15px ;
      padding-left: 15px;
    }
    
    input{
      padding:15px;
      margin-top:10px;
      border-radius: 8px 8px 8px 8px;
      border: none;
    }
    select{
      margin-top:10px;
    }
    
    button{
      height: 50px;
      width: 150px;
      border-radius: 8px 8px 8px 8px;
      background-color: white;
      border: none;
      cursor: pointer;
    }
    
    h4{
      color: black;
    }
    
    .login-btn{
      margin-top: 20px;
      cursor: pointer;
    }